.property__info__maoin__container__1 {
  display: flex;
  flex-direction: column;
  padding: 32px;
  border: 1px solid #cdcdcd;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  max-width: 840px;
  gap: 24px;
}
.main__image__main__container {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.main__image__label_1 {
  font-family: Urbanist-Medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 20.3px;
  text-align: left;
  color: #000000;
  gap: 7px;
}
.main__input__container__main {
  display: flex;
  gap: 20px;
  align-items: center;
}
.main__input__container__main__2 {
  display: flex;
  gap: 10px;
}
.replace__button__container {
  height: 37px;
  width: 80px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background: var(--Evox-Blue, #139ed5);
  border: none;
  font-family: Urbanist;
  font-size: 12px;
  font-weight: 400;
  line-height: 17.4px;
  color: #fff;
}
.delete__submit__propertyButton {
  height: 37px;
  width: 72px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 1px solid #ff3f3f;
  background-color: transparent;
  font-family: Urbanist;
  font-size: 12px;
  font-weight: 400;
  line-height: 17.4px;
  text-align: left;
  color: #ff3f3f;
}
.banner__upload__image__container {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.banner__image__label_1 {
  font-family: Urbanist-Medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 20.3px;
  text-align: left;
  color: #000000;
}
.banner__image__input__container {
  width: 100%;
  height: 168px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #cdcdcd;
  position: relative;
}
.banner__image__input__container__1 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.upload__image__text_submit {
  font-family: Urbanist;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.3px;
  text-align: left;
  color: #919191;
}
.submit__input__container {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.input__submit__label {
  font-family: Urbanist-Medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 20.3px;
  text-align: left;
  color: #000000;
}
.input__submit__placeholder {
  padding: 12px 24px;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #cdcdcd;
  font-family: Urbanist;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.3px;
  text-align: left;
}
.input__submit__placeholder::placeholder {
  color: #919191;
}

.input__submit__placeholder:focus {
  outline: none;
  color: #000000;
}
.input__submit__placeholder__description {
  padding: 12px 24px;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #cdcdcd;
  font-family: Urbanist;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.3px;
  text-align: left;
  width: 100%;
  height: 116px;
  resize: none; 
  overflow: scroll;
  scrollbar-width: none;
}
.input__submit__placeholder__description::-webkit-scrollbar {
  display: none; 
}
.input__submit__placeholder__description::placeholder {
  color: #919191;
}
.input__submit__placeholder__description:focus {
  outline: none;
  color: #000000;
}
.anemilities__main__container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.add__more__anemities__button {
  height: 32px;
  width: 128px;
  border-radius: 8px;
  border: 1px solid #919191;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Urbanist-Semibold;
  font-size: 11px;
  font-weight: 600;
  line-height: 15.95px;
  text-align: left;
  color: #000000;
}
.next__step__submit__button {
  margin-top: 5px !important;
  height: 44px;
  width: 159px;
  border-radius: 8px;
  background: var(--Evox-Blue, #139ed5);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Urbanist-Semibold;
  font-size: 14px;
  font-weight: 600;
  line-height: 20.3px;
  text-align: left;
  color: #ffffff;
}
.next__step__submit__button:hover
{
  opacity:0.9;
}
.deleteAmentieContainer {
  position: relative;
}

.AamenetiIcon {
  position: absolute;
  cursor: pointer;

  right: 10px;
  top: 14px;
}
.replace__button__container:hover
{
  opacity: 0.9;
}
@media(min-width:1450px)
{
  .property__info__maoin__container__1 
  {
    max-width: unset;
  }
}
@media (max-width: 500px) {
  .main__input__container__main {
    flex-direction: column;
  }
}
@media (max-width: 450px) {
  .property__info__maoin__container__1 {
    padding: 20px;
  }
}
