.kyc__investor__profilestep2__main__container {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  flex-direction: column;
  max-width: 840px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(205, 205, 205);
  border-image: initial;
  padding: 32px;
}
.kyc__investor__profilestep2__form__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.kyc__investor__profilestep2__form__container1 {
  display: flex;
  gap: 24px;
}
.kyc__investor__profilestep2__input__container1 {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 100%;
}
.kyc__investor__profilestep2__form__container {
  font-family: Urbanist-Medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 20.3px;
  text-align: left;
  color: #000;
}
.kyc__investor__profilestep2__input__field {
  padding: 14px 24px;
  border-radius: 8px;
  background: #ffffff;
  border: 1px solid #cdcdcd;
  width: 100%;
  font-family: Urbanist;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.3px;
  width: 378px;
}
.kyc__investor__profilestep2__input__field::placeholder {
  color: #919191;
}
.kyc__investor__profilestep2__input__field:focus {
  outline: none;
  color: #000;
}
.projectcategory-dropdown-toggle {
  padding: 12px 24px;
  background-color: #fff;
  border: 1px solid #cdcdcd;
  border-radius: 8px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: Urbanist-Medium !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 23.2px !;
  color: #919191 !important;

  align-items: center;
  width: 378px;
}
.projectcategory-dropdown-toggle::after {
  display: none !important;
}
.projectcategory-dropdown-toggle:hover {
  background-color: #fff !important;
  border: 1px solid #cdcdcd !important;
}
.projectcategory-dropdown-menu {
  width: 378px !important;
}
.projectcategory-dropdown-menu__text {
  font-family: Urbanist-Medium !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 23.2px !;
  color: #000 !important;
}
.projectcategory-dropdown-menu__text:hover {
  background-color: #ffffff !important;
}
.kyc__info__stepsprofile__button__container_investor
{
    display: flex;
    gap:10px;
    margin-top: 40px !important;
    flex-wrap: wrap;
}
.dropdown-custom-icon {
  transition: transform 0.3s ease-in-out;
}

.rotate-icon {
  transform: rotate(180deg);
}
@media (min-width: 1450px) {
  .kyc__investor__profilestep2__main__container {
    max-width: unset;
  }
  .kyc__investor__profilestep2__input__field 
  {
    width: 100%;
  }
  .projectcategory-dropdown-toggle 
  {
    width: 49% !important;
  }
  .projectcategory-dropdown-menu 
  {
    width: 100% !important;
  }
}
@media (max-width: 1200px) {
  .kyc__investor__profilestep2__form__container1 {
    flex-wrap: wrap;
  }
  .kyc__investor__profilestep2__input__field {
    width: 100%;
  }
  .projectcategory-dropdown-toggle {
    width: 100% !important;
  }
  .projectcategory-dropdown-menu {
    width: 100% !important;
  }
}
@media (max-width: 400px) {
  .kyc__investor__profilestep2__main__container {
    padding: 20px;
  }
}
