


.SubmitPropertyTablemaiiiiin{
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
    overflow: hidden; /* Ensure the content respects the border radius */
}
.SubmitPropertyTablemaiiiiin::-webkit-scrollbar{
    display: none !important;
}


.SubmitPropertytableHeadRow{
    box-shadow: 0px 0.96px 1.91px 0px #1E1E240F !important;
border-radius: 7.66px !important;
background: #F6F6F6 !important;
-ms-overflow-style: none !important;
scrollbar-width: none !important;
}
.css-36jua1-MuiTableCell-root{
    border-bottom: none !important;
    padding: 12px 0px 12px 20px !important;
}
.css-18jawa8-MuiTableCell-root {
    padding: 22px 20px !important;
}
.SubmitPropertytableHeadRowCell{
    border-bottom: none !important;
    font-family: "Urbanist-Medium" !important;
font-size: 14px !important;
font-weight: 500 !important;
line-height: 20.3px !important;
text-align: left !important;
text-underline-position: from-font !important;
text-decoration-skip-ink: none !important;
color: #000000 !important;
white-space: nowrap !important;
background-color: #ffffff !important;


}


.this{
    box-shadow: 0px 0.96px 1.91px 0px #1E1E240F !important;

}




.gggggggggg{
    border: none !important;
    border-bottom: none !important;
}













.SubmitPropertytableHeadRowCell1{
    font-family: "Urbanist-Medium" !important;
font-size: 14px !important;
font-weight: 500 !important;
line-height: 20.3px !important;
text-align: center !important;
text-underline-position: from-font !important;
text-decoration-skip-ink: none !important;
color: #000000 !important;


}

.SubmitPropertytableBodyRowCell{
    font-family: "Urbanist-Medium" !important;
    font-size: 13.4px !important;
    font-weight: 500 !important;
    line-height: 19.44px !important;
    text-align: left !important;
    text-underline-position: from-font !important;
    text-decoration-skip-ink: none !important;
    color: #000000 !important;
    border-bottom: 1px solid #CDCDCD80 !important;
    white-space: nowrap !important;  
    background: #ffffff !important;
}
.SubmitPropertytableBodyRowCell1{
    font-family: "Urbanist-Medium" !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 20.3px !important;
    text-align: left !important;
    text-underline-position: from-font !important;
    text-decoration-skip-ink: none !important;
    color: #000000 !important;
    border-bottom: 1px solid #CDCDCD80 !important;
    white-space: nowrap !important;
    background: #ffffff !important;
}
.SubmitPropertytableBodyRowCell2{
    font-family: "Urbanist" !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    /* padding: 21.06px 0px 21.06px 20px !important;  */
    line-height: 20.3px !important;
    text-align: left !important;
    text-underline-position: from-font !important;
    text-decoration-skip-ink: none !important;
    color: #000000 !important;
    border-bottom: 1px solid #CDCDCD80 !important;
    white-space: nowrap !important;
    background: #ffffff !important;
}
.eyyyyeee{
height: 24px !important;
width: 24px !important;
cursor: pointer;
}




@media(max-width:780px){
    .SubmitPropertytableHeadRowCell,
    .SubmitPropertytableHeadRowCell{
font-size: 13px !important;
    }

    .SubmitPropertytableBodyRowCell {
        font-size: 11.4px !important;
    }
    .SubmitPropertytableBodyRowCell1{
        font-size: 13px !important;
    }
    .SubmitPropertytableBodyRowCell2{
        font-size: 13px !important;
    }

    .eyyyyeee{
        height: 20px !important;
        width: 20px !important;
        }

}


@media(max-width:400px){
    .SubmitPropertytableHeadRowCell,
    .SubmitPropertytableHeadRowCell{
font-size: 13px !important;
    }

    .SubmitPropertytableBodyRowCell {
        font-size: 11.4px !important;
    }
    .SubmitPropertytableBodyRowCell1{
        font-size: 12px !important;
    }
    .SubmitPropertytableBodyRowCell2{
        font-size: 12px !important;
    }


    .eyyyyeee{
        height: 18px !important;
        width: 18px !important;
        }
}