.roi__info__maoin__container__1 {
  display: flex;
  flex-direction: column;
  padding: 32px;
  border: 1px solid #cdcdcd;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  max-width: 840px;
  gap: 24px;
}
.input__roi__label {
  font-family: Urbanist-Medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 20.3px;
  text-align: left;
  color: #000000;
}
.input__roi__placeholder {
  padding: 12px 24px;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #cdcdcd;
  font-family: Urbanist;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.3px;
  text-align: left;
}
.input__roi__placeholder::placeholder {
  color: #919191;
}
.input__roi__placeholder:focus {
  outline: none;
  color: #000000;
}
.submit__step__roi__button {
  padding: 12px 106px;
  border-radius: 8px;
  border: none;
  background: var(--Evox-Blue, #139ed5);
  font-family: Urbanist-Semibold;
  font-size: 14px;
  font-weight: 600;
  line-height: 20.3px;
  text-align: left;
  color: #ffffff;
  width: 259px;
}
.submit__step__roi__button:hover
{
  opacity: 0.9;
}
@media(min-width:1450px)
{
  .roi__info__maoin__container__1 
  {
    max-width: unset;
  }
}
@media (max-width: 450px) {
  .roi__info__maoin__container__1 {
    padding: 20px;
  }
  .next__step__token__main__container {
    justify-content: center;
  }
}

@media (max-width: 350px) {
  .submit__step__roi__button {
    width: 240px;
  }
}
