.create__property__main__container {
  display: flex;
  flex-direction: column;
  /* padding: 40px 32px; */
}
.property___info__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.property__info__heading {
  font-family: Urbanist-Semibold;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #000000;
}
.steps__complete__text {
  font-family: Urbanist-Medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  text-align: left;
  color: #919191;
}
.steps__main__container__submitProperty {
  margin-top: 15px !important;
  padding: 32px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 1px solid #cdcdcd;
  max-width: 840px;
  border-bottom: transparent;
}
.property__developer_step1_submit_container {
  display: flex;
  border-radius: 8px;
  padding: 20px 26px;
  background: #f6f6f6;
  border: none;
  gap: 70px;
  width: 100%;
  align-items: center;
}

.errorINPUT {
  border: 1px solid red !important;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}
@media(min-width:1450px)
{
  .steps__main__container__submitProperty 
  {
    max-width: unset;
  }
}
@media (max-width: 670px) {
  .property__developer_step1_submit_container {
    gap: 40px;
  }
}
@media (max-width: 540px) {
  .property__developer_step1_submit_container {
    gap: 30px;
  }
}
@media (max-width: 450px) {
  .property__developer_step1_submit_container {
    gap: 20px;
  }
  .steps__main__container__submitProperty {
    padding: 20px;
  }
  .create__property__main__container {
    padding: 10px 10px;
  }
}
@media (max-width: 350px) {
  .property__developer_step1_submit_container {
    gap: 10px;
    padding: 20px 10px;
  }
}
