.AboutPageCalculationDiv2{
  
    display: flex;
    /* margin-left: 70px !important;
    margin-right: 78px !important; */
    gap: 30px;
    align-items: center;
    padding-top: 42px;
}
.AboutPagediv2left{
    display: flex;
    width: 100%;
    background-color: rgba(50, 50, 50, 1);
    border-radius: 35px;
    padding: 47px 100px 62px 91px;
    gap: 50px;
    justify-content: space-between;
}
.AboutPagediv2Right{
    /* width: 100%; */
}
.AboutPagesubdiv2{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: max-content;
}
.AboutPagesubDivpara1{
    font-family: 'Urbanist';
    font-weight: 400;
    font-size: 16px;
    line-height: 20.5px;
    color: rgba(255, 255, 255, 1);
}
.AboutPagesubDivpara2{
    font-family: 'Urbanist';
    font-weight: 700;
    font-size: 55.99px;
    line-height: 62.71px;
    color: rgba(255, 255, 255, 1);
}

@media (max-width: 1364px) {
   
    .AboutPagediv2Right img {
        width: 100%;
    }
}
@media (max-width: 1163px) {
    .AboutPagediv2left{
        /* gap: 10%; */
    }
    .AboutPageCalculationDiv2{
        flex-direction: column;
    }
    .AboutPagediv2Right{
        width: 100%;
    }
}
@media (max-width: 1069px){
    .AboutPagediv2left{
        padding: 50px;
    }
}
@media (max-width: 930px){
    .AboutPagesubDivpara1{
       font-size: 14px;
    }
    .AboutPagesubDivpara2{
        font-size: 40px;
        line-height: 40px;
    }
}
@media (max-width: 832px){
    .AboutPagediv2left{
        gap: 35px;
    }
}
@media(max-width:785px){
    .AboutPagediv2left{
        flex-direction: column;
    }
}
@media(max-width:500px){
.AboutPagediv2left{
    gap: 20px;
    
}
.AboutPagesubdiv2{
    gap: 5px;
}
.AboutPagediv2left{
    padding: 25px;
   
}

}
@media(max-width:450px)
{
    .AboutPagediv2Right img 
    {
        display: none;
    }
}
@media(max-width:425px){
    .AboutPageCalculationDiv2{
        margin: 0 !important;
    }
 
}


