.submit__property__step3__main__container {
  display: flex;
  flex-direction: column;
  padding: 32px;
  max-width: 840px;
  border: 1px solid #cdcdcd;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  gap: 24px;
}
.submit__property__step3__top__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.submit__property__step3__main__container_1 {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.submit_property__step3__photo_text {
  font-family: Urbanist-Medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 20.3px;
  text-align: left;
  color: #000;
}
.submit_property__step3__photo_text_ {
  font-family: Urbanist-Medium;
  font-size: 10px;
  font-weight: 500;
  line-height: 14.5px;
  text-align: left;
  color: #919191;
}
.submit_property__step3__photo_text_1 {
  font-family: Urbanist;
  font-size: 10px;
  font-weight: 500;
  line-height: 14.5px;
  text-align: left;
  color: #919191;
}
.selected-images-container {
  display: flex;
  gap: 10px;
  margin-top: 7px !important;
  flex-wrap: wrap;
}

.selected-image {
  position: relative;
}

.selected-image-thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 8px;
}

.remove-image-icon {
  position: absolute;
  top: -5px;
  right: -5px;
  cursor: pointer;
}

.cross-icon {
  width: 20px;
  height: 20px;
  position: absolute;

  transform: translate(-12px, -6px);
}
.submit__property__step__3___form__placeholder {
  padding: 14px 24px;
  border-radius: 8px;
  border: 1px solid #cdcdcd;
  background-color: white;
  font-family: Urbanist;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.3px;
  max-width: 376px;
}

.submit__property__step__3___form__placeholder::placeholder {
  color: #919191;
}
.submit__property__step__3___form__placeholder:focus {
  outline: none;
  color: #000;
}
.submitproperty__step_3__buttons_container
{
    display: flex;
    gap: 10px;
    margin-top: 40px !important;
}
@media (min-width: 1450px) {
  .submit__property__step3__main__container {
    max-width: unset;
  }
  .submit__property__step__3___form__placeholder
  {
    max-width: unset;
  }
}
@media (max-width: 1170px) {
  .submit__property__step__3___form__placeholder {
    max-width: unset;
  }
}
@media (max-width: 425px) {
  .submit__property__step3__main__container {
    padding: 20px;
  }
  .submitproperty__step_3__buttons_container
  {
    flex-direction: column;
  }
  .selected-images-container 
  {
    justify-content: center;
  }
}
