.Dissconnect-modal .modal-content{


}



.dissssconnectImg{
    margin: 0px 0px 30px 0px !important;
}

.dissssconnect_P1{
    font-family: "Urbanist-SemiBold";
font-weight: 600;
font-size: 24px;
line-height: 46px;
letter-spacing: 1%;
color: #000000;
margin: 0px 0px 10px 0px !important;
text-align: center;

}
.dissssconnect_P2{
    font-family: "Urbanist-SemiBold";
font-weight: 600;
font-size: 16px;
line-height: 22.4px;
letter-spacing: 0%;
text-align: center;
    margin: 0px !important;
    color: #919191;

 
}

.dissssconnect____DivBTN{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 30px !important;
    width: 100%;


}
.dissssconnect____DivBTN1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
border: none;
background: var(--Evox-Blue, #139ED5);
    width: 100%;
border-radius: 8px;
padding: 12px 24px;
white-space: nowrap;

}

.Copy_AdressssP{
    font-family: "Urbanist-SemiBold";
font-weight: 600;
font-size: 14px;
line-height: 20.3px;
letter-spacing: 0%;
text-align: left;
color: #FFFFFF;
margin: 0px !important;
}
.dissscopy{
    width: 16px;
height: 16px ;
}
.ModelDisconMain_DivClose {
    display: flex
;
    flex-direction: row;
    justify-content: end;
}


@media(max-width:500px){
    .dissssconnect____DivBTN{
        gap: 5px;
    }
    .dissssconnect____DivBTN1{
        padding: 12px 16px;
        gap: 2px;
    }
    .dissssconnect_P1 {
        font-family: "Poppins-Medium";
        font-weight: 500;
        font-size: 22px;
        line-height: 44px;
        margin-bottom: 3px !important;
    }
    .dissssconnect_P2 {
        font-family: "Poppins-Medium";
        font-weight: 500;
        font-size: 14px;
        line-height: 14.4px;
    }
    .dissssconnectImg {
        margin: 0px 0px 20px 0px !important;
    }
    .dissssconnect____DivBTN{
        margin-top: 20px !important;
    }
    .Copy_AdressssP {
        font-family: "Poppins-Medium";
        font-weight: 500;
        font-size: 12px;
        line-height: 18.3px;
    }
    .dissscopy {
        width: 14px;
        height: 14px;
    }
}