.submit__property__step__2__top__container__1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.submit__property__step__2__main__container__1 {
  display: flex;
  flex-direction: column;
  padding: 32px;
  max-width: 840px;
  border: 1px solid #cdcdcd;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  gap: 24px;
}
.submit__property__step__2__form__container__1 {
  display: flex;
  gap: 24px;
}
.submit__property__step__2__form__container__2 {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 100%;
}
.submit__property__step__2___form__label {
  font-family: Urbanist-Medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 20.3px;
  text-align: left;
  color: #000;
}
.submit__property__step__2___form__placeholder {
  padding: 14px 24px;
  border-radius: 8px;
  border: 1px solid #cdcdcd;
  background-color: white;
  font-family: Urbanist;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.3px;
}
.submit__property__step__2___form__placeholder::placeholder {
  color: #919191;
}
.submit__property__step__2___form__placeholder:focus {
  outline: none;
  color: #000;
}
.submit__property__step__2___form__placeholder1 {
  padding: 14px 24px;

  border-radius: 8px;
  border: 1px solid #cdcdcd;
  background-color: white;
  font-family: Urbanist;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.3px;
  width: 376px;
}
.img-doc-upload {
    gap: 7px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid #CDCDCD;
  background-color: white;
  border-radius: 8px;
  height: 168px;
}
.submit__property__step__2__main__container__2 {
  display: flex;
  flex-direction: column;
  padding: 32px;
  width: 100%;
  border: 1px solid #cdcdcd;
  border-radius: 8px;
  gap: 24px;
}
.legal-compliance {
  font-family: Urbanist-Semibold;
  font-weight: 600;
  font-size: 20px;
  leading-trim: Cap height;
  line-height: 24px;
  letter-spacing: 0%;
  color: #000;
}
.submit__property__step__2___form__placeholder::placeholder1 {
  color: #919191;
}
.submit__property__step__2___form__placeholder1:focus {
  outline: none;
  color: #000;
}
@media (min-width: 1450px) {
  .submit__property__step__2__main__container__1 {
    max-width: unset;
  }
  .submit__property__step__2___form__placeholder1 {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .submit__property__step__2__form__container__1 {
    flex-wrap: wrap;
  }
  .submit__property__step__2___form__placeholder1 {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .submit__property__step__2__main__container__1 {
    padding: 20px;
  }
}
