/* .css-1ju65hq-MuiDrawer-docked{
  z-index: 5 !important;
} */

/* After build Styling*/
p {
  margin: 0px !important;
}

.sssssssssssssss {
  font-family: "Urbanist-Medium";
}

.Mui-selected {
  color: #0f68ff !important;
  background: none !important;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 160% !important;
  /* 22.4px */
  border-radius: 8px !important;
  transition: border-radius 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0s !important;
}

.logo__container1 {
  width: 200px;
  height: 80px;
  /* margin-left: 65px !important; */
}

.menu-items {
  color: var(--Grey-500---Primary, #667085) !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 160% !important;
  /* 22.4px */
}

.css-1ju65hq-MuiDrawer-docked .MuiDrawer-paper {
  justify-content: space-between;
}

.Avatar-div {
  /* margin-top: 30%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Avatar-div-mobile {
  margin-top: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*dropdown avatar-top */

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  gap: 10px;
}

.css-9mgopn-MuiDivider-root {
  margin: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;

  border-width: 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.12);
  border-bottom-width: thin;
  border: none !important;
}
.connect__header__button {
  padding: 10px 21px !important;
  background: var(--Evox-Blue, #139ed5) !important;
  border-radius: 8px !important;
  border: none !important;
  font-family: Urbanist-Semibold !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  line-height: 20.3px !important;
  text-align: center !important;
  color: #fff !important;
  white-space: nowrap !important;
}
/* .css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
      top: 53px !important;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px,
        rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px !important;
    } */

.List-div {
  margin-top: 42px !important;
  padding-left: 10.61px !important;
  padding-right: 10.61px !important;
  display: flex;
  gap: 10px;
  flex-direction: column;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 160% !important;
}

.css-cveggr-MuiListItemIcon-root {
  min-width: auto !important;
}

/* .css-h4y409-MuiList-root {
      padding-top: 32px !important;
    } */
/* icon-label */
.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root {
  /* padding-top: 12px !important;
      padding-bottom: 12px !important; */
  gap: 12px !important;
}

.drawr-option-text1 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: linear-gradient(180deg, #000000 0%, #323232 100%) !important;
  margin: 0px !important;
}

.drawr-option-text12 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.4px;
  text-align: left;
  color: #bcbfcc !important;
  margin: 0px !important;
}

.list-icons {
  min-width: 24px !important;
  width: 24px !important;
  height: 24px !important;
  font-size: 24px !important;
  color: var(--Grey-500---Primary, #667085) !important;
}

.Logout-div {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  padding-left: 27px;
  margin-top: 20px !important;
  margin-bottom: 30px !important;
}

.text-design {
  margin: 0px !important;
  font-family: "Urbanist-Medium";
  font-size: 18.56px;
  font-weight: 500;
  line-height: 29.7px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #667085;
}

.Logout-txt {
  font-family: "Urbanist";

  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #ff3f3f;
}

.items-main-heading {
  padding-left: 16px;
  color: #1e1e2480 !important;

  font-family: "Urbanist";
  font-size: 12px;
  font-weight: 500;
  line-height: 19.2px;

  padding-bottom: 8px;
  text-transform: uppercase;
}

/* .muiltr-1jkhpm7.active {
      color: rgb(255, 255, 255);
      pointer-events: none;
      transition: border-radius 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0s;
      background-color: rgba(255, 255, 255, 0.1) !important;
    } */

.css-1vz77qy-MuiTypography-root {
  font-family: "Urbanist-Medium" !important;
  font-size: 14px !important;
  font-weight: 500;
  line-height: 16.8px;
  text-align: left;
  color: #ffffff;
}

.css-i4bv87-MuiSvgIcon-root {
  color: #ffffff !important;
}

.toggle {
  margin-right: 35px !important;
  height: 40px;
  width: 40px;
}
.toggle2 {
  margin-right: 0px !important;
  height: 40px;
  width: 40px;
}
.list-item {
  color: #bcbfcc !important;

  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 160% !important;
  /* 22.4px */
  display: flex;
  align-items: left;
  gap: 12px;
}

.list-item-active {
  color: transparent !important;
  background: linear-gradient(180deg, #000000 0%, #323232 100%) !important;
  background-clip: text !important;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 160% !important;
  /* 22.4px */
  border-radius: 8px;
  /* padding-top: 12px !important;
      padding-bottom: 12px !important; */
  /* background-color: var(--Blue-Text, #0F68FF) !important; */
  transition: border-radius 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0s !important;
}

.texticon {
  margin-left: 10px;
}

.list-item:hover {
  color: #000000 !important;
  border-radius: 8px !important;
  /* background-color: var(--Blue-Text, #0f68ff) !important; */
}

.css-18sg6k4-MuiPaper-root-MuiDrawer-paper {
  /* background-color: #111827 !important; */
  background-color: #fff !important;
}

/* .css-ciy9n4-MuiPaper-root-MuiAppBar-root{
      z-index: -1 ;
    } */

.css-mrxozk-MuiDrawer-docked .MuiDrawer-paper {
  width: 280px;
  box-sizing: border-box;
  z-index: 1 !important;
  justify-content: space-between !important;
}

/* List -txt / sidebar*/

.css-10hburv-MuiTypography-root {
  margin: 0;

  display: block;
  font-size: 14px !important;

  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 160% !important;
}

.drawer__main__container1 {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  height: 100vh;
  overflow: scroll;
  scrollbar-width: none;
}

.drawer__main__container1::-webkit-scrollbar {
  display: none;
}

.sidebar__top-main {
  z-index: 10;
  padding: 12px 32px;
  box-shadow: none;
  border-bottom: 1.34px solid #ffffff;
  background-color: #ffffff;
}

.drawer__main__container1 {
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}

.css-gkgj6z-MuiButtonBase-root-MuiListItemButton-root .MuiListItemText-primary {
  font-family: "Urbanist-Medium" !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 22.4px !important;
  text-decoration-skip-ink: none;
  color: #ffffff !important;
}

.css-1eljb98-MuiButtonBase-root-MuiListItemButton-root
  .MuiListItemText-primary {
  font-family: "Urbanist-Medium" !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 22.4px !important;
  text-decoration-skip-ink: none;
  color: #ffffff !important;
}

.css-ds6ijv-MuiButtonBase-root-MuiListItemButton-root .MuiListItemText-primary {
  font-family: "Urbanist-Medium" !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 22.4px !important;
  text-decoration-skip-ink: none;
  color: #ffffff !important;
}

.css-tjzcy6-MuiButtonBase-root-MuiListItemButton-root .MuiListItemText-primary {
  color: #ffffff !important;
}

.css-19lg2kl-MuiDrawer-docked .MuiDrawer-paper {
  display: flex !important;
  justify-content: space-between !important;
}

.css-edh7jl-MuiButtonBase-root-MuiListItemButton-root .MuiListItemText-primary {
  font-family: "Urbanist-Medium" !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 22.4px !important;
  text-decoration-skip-ink: none;

  color: #ffffff !important;
}

.css-ivnu1y-MuiPaper-root-MuiAppBar-root {
  z-index: -1 !important;
  background-color: #fff !important;
}

/* Menu Icon */
.css-134qg7o-MuiButtonBase-root-MuiIconButton-root {
  color: black !important;
}

.css-1dubi9j-MuiButtonBase-root-MuiListItemButton-root
  .MuiListItemText-primary {
  font-family: "Urbanist-Medium" !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 22.4px !important;
  text-decoration-skip-ink: none;

  color: #ffffff !important;
}

.css-hyum1k-MuiToolbar-root {
  background: #fff !important;
  border-bottom: 1px solid var(--grey-100-primary-outline-color, #f0f1f3) !important;
  box-shadow: none !important;
}

.css-i1kkii-MuiPaper-root-MuiAppBar-root {
  box-shadow: none !important;
  z-index: 2 !important;
}

.css-1s0rz8x-MuiListItemIcon-root {
  min-width: 38px !important;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation0.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft.css-q2rdm3 {
  height: 100vh !important;
  justify-content: space-between !important;
}

.css-3x305n-MuiDrawer-docked .MuiDrawer-paper {
  justify-content: space-between !important;
  overflow: scroll;
  scrollbar-width: none;
}

.css-q4eqi0 .MuiDrawer-paper {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}

.css-3x305n-MuiDrawer-docked .MuiDrawer-paper::-webkit-scrollbar {
  display: none;
}

.css-3x305n-MuiDrawer-docked .MuiDrawer-paper {
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}

.css-55u6o0-MuiPaper-root-MuiAppBar-root {
  background-color: #fff !important;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: fixed;
  z-index: 1100;
  top: 0;
  left: auto;
  right: 0;

  color: #fff;
  -webkit-transition: margin 225ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    width 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  transition: margin 225ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    width 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  width: calc(100% - 280px);
  margin-left: 280px;
}

/* left side toolbar*/

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  /* background-color: #111827 !important; */
  background-color: #fff !important;
  color: #fff !important;
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: none;
  overflow-y: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  z-index: 1200;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0;
  outline: 0;
  left: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

/* Toolbar css */
.css-15075hz-MuiPaper-root-MuiAppBar-root {
  z-index: 2 !important;
}

.css-ciy9n4-MuiPaper-root-MuiAppBar-root {
  background-color: #fff !important;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: fixed;
  z-index: 1100;
  top: 0;
  left: auto;
  right: 0;

  color: #fff;
  -webkit-transition: margin 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms,
    width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  transition: margin 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms,
    width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}

.css-jzk4qw-MuiPaper-root-MuiAppBar-root {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: fixed;
  z-index: 1100;
  top: 0;
  left: auto;
  right: 0;
  /* background-color: #111827 !important; */
  background-color: #fff !important;
  color: #fff;
  -webkit-transition: margin 225ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    width 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  transition: margin 225ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    width 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  width: calc(100% - 240px);
  margin-left: 240px;
}

.NoCourse {
  padding-left: 29px;
  margin: 0px !important;
  font-family: "Urbanist";
  font-size: 20px;
  font-weight: 600;
  line-height: 24.38px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}

/* menu bar and profile icon */
.css-hyum1k-MuiToolbar-root {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  min-height: 34px;
  justify-content: space-between;
}

.Navbar-Profile {
  border: 2px solid #0f6fff;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  object-fit: contain;
  background-color: #393c43;
}

.btn-wallet {
  border-radius: 8px;
  background: var(--Blue-Text, #0f68ff);
  display: flex;
  height: 34px;
  padding: 14px 12px;
  justify-content: center;
  align-items: center;
  border: none;
  color: var(--Black-0---Primary, #fff);
  font-family: "Urbanist";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  /* 18.2px */
}

.vertical-line {
  border-right: 1px solid #f0f1f3;
  height: 20px;
}

.setting-notify {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  /* width: 100%; */
}

.btn-search {
  border: none;
  border-radius: 8px;
  border: 1px solid var(--grey-100-primary-outline-color, #f0f1f3);
  background: var(--Black-0---Primary, #fff);
  display: flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--Grey-500---Primary, #667085);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 22.4px */
  letter-spacing: 0.07px;
}

/* search -bar */

.css-1mgg4b8-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 0px !important;
}

.Avatar-top-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  /* margin-right: 16px;
      margin-left: 16px; */
  cursor: pointer;
  width: 100%;
}

.notify-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 100%; */
  gap: 24px;
}

.innertext-options {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.icon-size {
  height: 24px;
  width: 24px;
}

.OtherMenu-Div {
  margin-top: 42px;
  margin-bottom: 10px;
  padding-left: 20px;
}

.toptext {
  font-family: "Urbanist" !important;
  font-size: 24px !important;
  font-weight: 600 !important;
  line-height: 36px !important;
  letter-spacing: -0.01em !important;
  text-align: left !important;
  color: #1e1e24 !important;
  margin-left: 20px;
}

.topbutton {
  width: 157px;
  height: 39px;
  background: linear-gradient(180deg, #000000 0%, #323232 100%);
  border-radius: 8px;
  font-family: "Urbanist-Medium" !important;
  font-size: 14px !important;
  font-weight: 500;
  line-height: 20.3px;
  text-align: center;
  color: #ffffff;
}

.css-g54kp {
  min-width: 35px !important;
}

.label-after-accordian-is-fixed-now {
  color: brown !important;
  font-family: "Urbanist-Medium" !important;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.css-rizt0-MuiTypography-root {
  font-family: "Urbanist-Medium" !important;
}

.Logout-bottom-side-part-main {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 24px !important;
}

.css-12jqhy2-MuiPaper-root-MuiDrawer-paper,
.css-13fmzeu .MuiDrawer-paper {
  justify-content: space-between !important;
  display: flex !important;
}

.Logout-bottom-side-part-main p {
  font-family: "Urbanist-Medium" !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 16.8px !important;
  text-align: left !important;
  text-underline-position: from-font !important;
  text-decoration-skip-ink: none;
  color: #f04a4a;
  margin: 0px !important;
}

.css-cokf1l-MuiListItemIcon-root {
  min-width: 37px !important;
}

.opening {
  padding-left: 0px !important;
}
.closing {
  padding-left: 20px;
}
.kyc__pending__main__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height:80vh
}
.kyc__pending__main__container_1 {
  height: 382px;
  width: 100%;
  border: 1px solid #cdcdcd;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  max-width: 623px;
}
.kyc__pending__text__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.kyc__approval__heading {
  font-family: Urbanist-Semibold;
  font-size: 24px;
  font-weight: 600;
  line-height: 46px;
  color: #000000;
}
.kyc__approval__descrption {
  font-family: Urbanist-Semibold;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  text-align: center;
  color: #919191;
}
@media (max-width: 600px) {
  .css-1pfgv65 {
    overflow: hidden !important;
  }

  .notify-search {
    gap: 15px;
  }

  .header-main {
    padding-left: 0px !important;
  }

  .css-177wmp6-MuiDrawer-docked .MuiDrawer-paper {
    width: 222px !important;
  }
}

@media (max-width: 1650px) {
  .css-1iqz4nr {
    padding: 25px !important;
  }

  .List-div {
    margin-top: 25px !important;
  }

  .css-kwdo0-MuiTypography-root,
  .css-1bm4pxe,
  .MuiTypography-root:where(.css-1uxmvsg .MuiListItemText-primary) {
    font-size: 22px !important;
    font-weight: 500 !important;
    line-height: 22.27px !important;
  }

  .css-bj6hku-MuiButtonBase-root-MuiListItemButton-root {
    padding: 8px 12px !important;
  }

  .othermenu {
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 19.09px !important;
  }

  .OtherMenu-Div {
    padding-left: 14px !important;
  }

  .notification-icon {
    height: 24px !important;
    width: 24px !important;
  }

  .notify-search {
    gap: 24px !important;
  }

  .avatar-img {
    height: 40px !important;
    width: 40px !important;
  }
}

@media (max-width: 1440px) {
  .texticon {
    margin-left: 0px !important;
  }
}

@media (max-width: 1000px) {
  .sidebar__top-main {
    border-bottom: 1.34px solid #f1f1f1 !important;
    background-color: #f1f1f1 !important;
  }
}

@media (max-width: 768px) {
 

  .OtherMenu-Div {
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .avatar-img {
    height: 36px !important;
    width: 36px !important;
  }

  .notification-icon {
    height: 25px !important;
    width: 25px !important;
  }
}

@media (max-width: 500px) {
  .css-3x305n-MuiDrawer-docked .MuiDrawer-paper {
    width: 305px !important;
  }

  .css-kwdo0-MuiTypography-root,
  .css-1bm4pxe,
  .MuiTypography-root:where(.css-1uxmvsg .MuiListItemText-primary) {
    font-size: 18px !important;
    font-weight: 500 !important;
    line-height: 14.4px !important;
  }

  .css-1s0rz8x-MuiListItemIcon-root,
  .css-g54kpg,
  .css-g54kpg {
    min-width: 35px !important;
  }

  .css-1iqz4nr {
    padding: 20px !important;
  }

  .css-bj6hku-MuiButtonBase-root-MuiListItemButton-root {
    padding: 14px 10px !important;
  }

  .List-div {
    margin-top: 38px;
  }

  .css-11wil0t-MuiToolbar-root {
    min-height: 40px !important;
  }

  .othermenu {
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 16px !important;
  }

  .OtherMenu-Div {
    padding-left: 12px !important;
  }

  .Logout-txt {
    font-size: 18px !important;
    font-weight: 500 !important;
    line-height: 14.4px !important;
  }

  .toggle {
    height: 32px !important;
    width: 32px !important;
    /* margin-top: 10px !important; */
  }

  .notification-icon {
    height: 18px !important;
    width: 18px !important;
  }

  .avatar-img {
    height: 30px !important;
    width: 30px !important;
  }

  .notify-search {
    gap: 10px !important;
  }

  .sidebar__top-main {
    padding: 12px 20px !important;
  }

  .notify-search.blurred {
    filter: blur(5px);
  }
  .closing {
    padding-left: 0px !important;
  }
}
@media(max-width:425px)
{
  .kyc__pending__main__container_1 
  {
    gap:10px
  }
  .kyc__pending__text__container 
  {
    gap: 0px;
  }
}

@media (max-width: 375px) {
  .kyc__approval__heading 
  {
    font-size: 20px;
  }
  .kyc__approval__descrption 
  {
    font-size: 14px;
  }
  .connect__header__button {
    padding: 7px 10px !important;
    font-size: 12px;
  }
}
