.tokenization__info__maoin__container__1 {
  display: flex;
  flex-direction: column;
  padding: 32px;
  border: 1px solid #cdcdcd;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  max-width: 840px;
  gap: 24px;
}
.input__tokenization__label {
  font-family: Urbanist-Medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 20.3px;
  text-align: left;
  color: #000000;
}
.input__tokenization__placeholder {
  padding: 12px 24px;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #cdcdcd;
  font-family: Urbanist;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.3px;
  text-align: left;
}
.input__tokenization__placeholder::placeholder {
  color: #919191;
}
.input__tokenization__placeholder:focus {
  outline: none;
  color: #000000;
}
.next__step__token__main__container {
  display: flex;
  gap: 10px;
  margin-top: 5px !important;
  flex-wrap: wrap;
}
.back__step__token__button {
  padding: 12px 64px;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid #919191;
  font-family: Urbanist-Semibold;
  font-size: 14px;
  font-weight: 600;
  line-height: 20.3px;
  text-align: left;
  color: #000000;
}
.next__step__token__button {
  padding: 12px 48px;
  border-radius: 8px;
  background: var(--Evox-Blue, #139ed5);

  border: none;
  font-family: Urbanist-Semibold;
  font-size: 14px;
  font-weight: 600;
  line-height: 20.3px;
  text-align: left;
  color: #ffffff;
}
.next__step__token__button:hover
{
  opacity: 0.9;
}
@media(min-width:1450px)
{
  .tokenization__info__maoin__container__1 
  {
    max-width: unset;
  }
}
@media(max-width:450px)
{
    .tokenization__info__maoin__container__1 
    {
        padding: 20px;
    }
    .next__step__token__main__container 
    {
        justify-content: center;
    } 
}
