.submit__property__step__1___top__container {
  display: flex;
  flex-direction: column;
  gap: 40px
}

.submit__property__step__1___main__container {
  display: flex;
  flex-direction: column;
  padding: 32px;
  max-width: 840px;
  border: 1px solid #cdcdcd;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  gap: 24px;
}

.submit__property__step__1___main__container__1 {
  display: flex;
  gap: 24px;
}

.submit__property__step__1___form__container__1 {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 100%;
}

.submit__property__step__1___form__label {
  font-family: Urbanist-Medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 20.3px;
  text-align: left;
  color: #000;
}

.submit__property__step__1___form__placeholder {
  padding: 14px 24px;
  border-radius: 8px;
  border: 1px solid #cdcdcd;
  background-color: white;
  font-family: Urbanist;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.3px;
}

.submit__property__step__1___form__placeholder_div {
  padding: 14px 24px;
  border-radius: 8px;
  border: 1px solid #cdcdcd;
  background-color: white;
  font-family: Urbanist;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.3px;
  display: flex;
  justify-content: space-between;
}

.submit__property__step__1___form__placeholder::placeholder {
  color: #919191;
}

.submit__property__step__1___form__placeholder:focus {
  color: #000;
  outline: none;
}

.square__meter__text {
  font-family: Urbanist-Medium;
  font-size: 10px;
  font-weight: 500;
  line-height: 14.5px;
  text-align: left;
  color: #919191;
}

.calnder__input__container {
  border: none;
  width: 100%;
}

.selected-feature-button {
  border-radius: 8px;
  background: #139ED526;
  font-family: Urbanist-Medium;
  font-size: 12px;
  font-weight: 500;
  line-height: 17.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color:#139ED5;
  padding: 6px 12px;
  border: 1px solid #139ED50D
}

.selected-features-container {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}

.DatePickerStyle {
  width: 100%;
  border: none;
  background-color: white;
  font-family: Urbanist-Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 23.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.DatePickerStyle:focus {
  border: none;
  outline: none;
}

.custom-calendar {
  background-color: #fafafa !important;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.custom-day {
  font-family: "Urbanist-Medium" !important;
  font-size: 14px;
  color: #1e1214;
  padding: 3px;
}

.custom-day:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  cursor: pointer;
}

.react-datepicker__day--selected {
  background-color: #eaeaea !important;
  color: black !important;
  border-radius: 50%;
}

.react-datepicker__navigation {
  /* top: 10px; */
  background-color: white;
  border: none;
}

.react-datepicker__navigation-icon::before {
  border-color: #949393 !important;
}

.react-datepicker__current-month,
.react-datepicker__day-names {
  font-family: "Urbanist-Medium", sans-serif !important;
  color: #1e1214;
}

.react-datepicker-wrapper {
  width: 100% !important;
}

.DatePickerStyle::placeholder {
  font-family: Urbanist-Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 23.2px;
  text-align: left;
  color: #919191;
}

.next__step__submit__property__step1__button {
  height: 44px;
  width: 259px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--Evox-Blue, #139ed5);
  border: none;
  border-radius: 8px;
  font-family: Urbanist-Semibold;
  font-size: 14px;
  font-weight: 600;
  line-height: 20.3px;
  color: #ffffff;
}

.drop__down__selected__conainer {
  display: flex;
  justify-content: space-between;

}

.dropdown__tick__icon {
  margin-right: 24px !important;
}

@media(min-width:1450px) {
  .submit__property__step__1___main__container {
    max-width: unset;
  }
}

@media(max-width:1000px) {
  .submit__property__step__1___main__container__1 {
    flex-wrap: wrap;
  }

  .next__step__submit__property__step1__button {
    width: 100%;
  }
}

@media(max-width:425px) {
  .submit__property__step__1___main__container {
    padding: 20px;
  }
}