.kyc__info__profile__step4__main___container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.kyc__info__profile__step4__main___container1 {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  flex-direction: column;
  max-width: 840px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(205, 205, 205);
  border-image: initial;
  padding: 32px;
}
.kyc__info__preview__submit__button {
  height: 36px;
  max-width: 104px;
  border: none;
  border-radius: 8px;
  background: var(--Evox-Blue, #139ed5);
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-family: Urbanist-Medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 20.3px;
  color: #fff;
}
.kyc__info__preview__submit__button img{
  width: 16px;
  height: 16px;
}
.kyc__info__profile__step4__form___container1 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.ProfileForm {
  max-width: 840px;
  padding: 32px;
}
.kyc__and__profile__step4__second__container {
  border-radius: 8px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  max-width: 840px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(205, 205, 205);
  border-image: initial;
  padding: 32px;
}
.kyc-preview-p {
  font-family: Urbanist-Bold;
  font-weight: 600;
  font-size: 20px;
  leading-trim: Cap height;
  line-height: 24px;
  letter-spacing: 0%;
  color: #000;
  margin: 10px 0px !important;
}
.kyc-preview-p-subtag {
  font-family: Urbanist;
  font-weight: 500;
  font-size: 14px;
  leading-trim: Cap height;
  line-height: 16.8px;
  letter-spacing: 0%;
  color: #919191;
}
.kyc__info__profile__step4__form___container2 {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.kyc__info__profile__step4__input___container {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 100%;
}
.kyc__info__profile__step4__input {
  font-family: Urbanist-Medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 20.3px;
  text-align: left;
  color: #000;
}
.kyc__investor__profilestep4__input__field {
  padding: 14px 24px;
  border-radius: 8px;
  background: #ffffff;
  border: 1px solid #cdcdcd;
  width: 100%;
  font-family: Urbanist;
  font-size: 14px;
  font-weight: 400;
  line-height: 20.3px;
}
.kyc__investor__profilestep4__input__field::placeholder {
  color: #919191;
}
.kyc__investor__profilestep4__input__field:focus {
  color: #000;
  outline: none;
}
@media (min-width: 1450px) {
  .kyc__info__profile__step4__main___container1 {
    max-width: unset;
  }
}
@media (max-width: 1200px) {
  .kyc__info__profile__step4__form___container2 {
    flex-wrap: wrap;
  }
}
@media (max-width: 400px) {
  .kyc__info__profile__step4__main___container1 {
    padding: 20px;
  }
}
