.Headline800 {
  font-family: Urbanist-Bold;
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  text-align: center;
  color: black !important;
}

.labeltextt {
  color: #000 !important;
  font-family: Urbanist-Medium !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 19.6px !important;
  text-align: left !important;
  margin-bottom: 15px !important;
}

.azpmjnwixs {
  background: grey;
  color: #000;
  border: none;
  height: 40px;
  width: 150px !important;
}

.wretrsdy {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 60px !important;
}

.wgyefdhjas {
}

/* AddQuestions.css */

/* Style for input placeholder */
input::placeholder,
textarea::placeholder {
  color: #00000099;
  opacity: 1;
  /* Ensures the color is applied fully */
}

/* Style for input text */
input,
textarea {
  color: #000000;
  /* Black color for input text */
}

/* Style for the options text */
.MuiFormControl-root .MuiInputBase-input {
  color: #000000;
}

/* Style for the submit button */
.addqbttn {
  background-color: #1395ed;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 40px !important;
}

/* TextEditor.css */
.custom-quill {
  height: 300px;
  width: 100%;
  /* max-width: 700px; */
  margin-bottom: 62px !important;
  color: black;
  /* border: 1px solid black;  */
}

.custom-quill .ql-editor {
  color: black;
}

.addqbttn:hover {
  background-color: #115293;
}
