.Main-Support-Card{
    padding: 20px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #D8D8D8;
    background: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Support-Card-Image{
    width: 100%;
    height: 217px;
    border-radius: 9.31px;
    object-fit: cover;
}
.Support-Card-Div1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.SupportName{
    font-family: Urbanist-SemiBold;
font-weight: 600;
font-size: 18.63px;
line-height: 27.94px;
letter-spacing: 0%;
color: #000000;
}
.SupportPricee{
    font-family: Urbanist-Medium;
font-weight: 500;
font-size: 16px;
line-height: 19.2px;
letter-spacing: 0%;
color:  var(--Evox-Blue, #139ED5);

}
.Card-Main-Support-Content{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.SupportCard-Contnt-Titlee{
    font-family: Urbanist;
font-weight: 400;
font-size: 14px;
line-height: 16.8px;
letter-spacing: 0%;
color: #919191;
}
.SupportCard-Contnt-Valuee{
    font-family: Urbanist-Medium;
font-weight: 500;
font-size: 16px;
line-height: 19.2px;
letter-spacing: 0%;
color: #000000;
}
.OpenChat{
    width: 100%;
height: 44px;
border-radius: 8px;
display: flex;
justify-content: center;
align-items: center;
background: var(--Evox-Blue, #139ED5);
border: none;
font-family: Urbanist-SemiBold;
font-weight: 600;
font-size: 14px;
line-height: 20.3px;
letter-spacing: 0%;
color: #FFFFFF;
}
.OpenChat:hover{
    opacity: 0.9;
}
@media(max-width:786px){
    .SupportName{
        font-size: 16px;
    }
    .SupportPricee{
        font-size: 14px;
    }
}