.kyc__and__profile__step3__main__container {
  display: flex;
  flex-direction: column;
  /* gap: 40px; */
}

.kyc__and__profile__step3__second__containerr {
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  max-width: 840px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(205, 205, 205);
  border-image: initial;
  padding: 32px;
}

.kyc__and__profile__step3__form__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.kyc__and__profile__step3__form__container2 {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.kyc__and__profile__step3__form__container3 {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 100%;
}

.kyc__and__profile__step3__form__label {
  font-family: Urbanist-Medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 20.3px;
  text-align: left;
  color: #000;
}

.Kycpreview {
  display: flex;
  flex-direction: column;
  /* gap: 10px */
}

.Back-button {
  padding: 9px 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #139ED5;
  border-radius: 8px;
  border: none;
  font-family: Urbanist-Medium;
  font-weight: 500;
  font-size: 14px;
  line-height: 18.2px;
  letter-spacing: 0%;
  text-align: center;
  width: 104px;
  color: #FFFFFF;
}

.Back-button:hover {
  opacity: 0.9 !important;
}

.Back-and-KycPreview {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 15px !important;
}

.kycpreview-text {
  font-family: "Urbanist-Bold";
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #000000;
  margin: 0px !important
}

.kycpreview-text2 {
  font-family: "Urbanist-Medium";
  font-weight: 500;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 0%;
  color: #919191;
  margin: 0px !important
}

.kyc__andprofile__step3__form_input {
  padding: 12px 24px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #cdcdcd;
  font-family: Urbanist-Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 23.2px;
  text-align: left;
}

.kyc__andprofile__step3__form_input::placeholder {
  color: #919191;
}

.kyc__andprofile__step3__form_input:focus {
  outline: none;
  color: #000;
}

.kyc__info__profile__submit__button {
  height: 44px;
  max-width: 259px;
  border: none;
  border-radius: 8px;
  background: var(--Evox-Blue, #139ed5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Urbanist-Semibold;
  font-size: 14px;
  font-weight: 600;
  line-height: 20.3px;
  color: #fff;
}

@media(min-width:1450px) {
  .kyc__and__profile__step3__second__container {
    max-width: unset;
  }
}

@media (max-width: 1170px) {
  .kyc__and__profile__step3__form__container2 {
    flex-wrap: wrap;
  }
}

@media (max-width: 400px) {
  .kyc__and__profile__step3__second__container {
    padding: 20px;
  }
  .kycpreview-text {
    font-family: "Urbanist-Bold";
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #000000;
    margin: 0px !important
  }
  .Back-and-KycPreview{
    gap: 12px;
  }
  .Back-button{
    font-size: 12px;
    padding: 8px 20px;
  }
  .kycpreview-text2 {
    font-family: "Urbanist-Medium";
    font-weight: 500;
    font-size: 11px;
    line-height: 12px;
    letter-spacing: 0%;
    color: #919191;
    margin: 0px !important
  }
  .kyc__info__profile__submit__button {
    max-width: unset;
  }
}