.SubmitPropertytableBodyRowCell1_11{
    display: flex;
    align-items: center;
    gap: 8px ;
}

.trajbjaimg{
    height: 20px !important;
    width: 20px !important;
}
.bdsjbdjs{
    display: flex !important;
    align-items: center !important;
    text-decoration: underline !important;
}